<div class="kanban-page">
  <!-- HEADER -->
  <div class="kanban-header">
    <button mat-icon-button class="back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="board-info">
      <div class="title">Board View</div>
      <div class="subtitle">Drag & organize your tasks</div>
    </div>

    <div class="spacer"></div>
  </div>

  <!-- BOARD -->
  <div class="board">
    @for (column of columns(); track column.id) {
      <app-kanban-column
        class="column-wrapper"
        [boardId]="boardId"
        [column]="column"
        [connectedLists]="connectedLists"
        [dropped]="drop.bind(this)"
      />
    }

    @if (columns().length < 5) {
      <div class="add-column-card" (click)="openAddColumnDialog()">
        <mat-icon>add</mat-icon>
        <span>Add Column</span>
      </div>
    }
  </div>
</div>
